body{
    background-color: green;
}



#site_header{
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;

    .container{

        display: flex;
        justify-content: space-between;
        align-items: center;

        &>.logo{

            &>img{
                width: 100%;
                max-width: 80px;
            }
        }

        &>.link{

            &>ul{
                display: flex;
                list-style: none;
                gap: 15px;

                &>li>a{
                    text-decoration: none;
                    color: black;
                    font-weight: 600;
                    padding-bottom: 5px;
                    border-bottom: 3px solid transparent;

                    &:hover{
                        transition: all 0.3s ease-in-out;
                        border-color: #55883b;
                    }
                }

                &>li>.active{
                    color: #55883b;
                }
            }

        
        }

        &>.btn-mobile{
            display: none;
            

            &>img{
                transition: transform 0.3s;
                cursor: pointer;
                width: 50px;
            }

            &>.link_for_mobile{
                display: none;
                z-index: 0;
                width: 100%;
                position: absolute;
                top: 80px;
                left: 0;
                background-color: white;
                height: 0;
                opacity: 0;
                transition: all .5s ease;


                &>ul{
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    &>li{


                        &>a{
                            font-size: 20px;
                            width: 100%;
                            display: block;
                            padding: 5px;
                            padding-left: 20px;
                            text-decoration: none;
                            color: black;
                            font-weight: 600;
                            
                            &:hover{
                                transition: all 0.3s ease-in-out;
                                background-color: gray;
                            }
                        }
                    }
                    

                    &>li>.active{
                        color: #55883b;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {

    #site_header>.container{

        .link{

            display: none;
        }

        .btn-mobile{
            display: block;
        }
    }
    
}


@media screen and (max-width: 993px) {

    #form_newsletter>.container{
        flex-wrap: wrap;

        &>*{
            width: 100% !important;
        }

        &>.container_map{
            height: 350px;
        }

        &>.container_newsletter{
            padding-top: 50px;
        }
    }

    #reviews{

        &>.container{
            flex-wrap: wrap;
            row-gap: 90px;

            &>*{
                width: 100% !important;
            }
        }
    }


    
}


.link_footer{
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
    margin-top: 3px;
    padding-bottom: 5px;
    display: inline-block;

    &:hover{
        transition: all 0.3s ease-in-out;
        border-color: white;
    }

}

.active_footer{
    color: #55883b;
}

#jumbotron{
    margin-top:46px;
    background-image: url('./../../../public/img/sea.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    

    .container_jumbo{
        width: 100%;
        margin: auto;
        max-width: 600px;
        text-align: center;

        &>*{
            margin: 30px 0px;
        }

        &>.btn_reserve{
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px;
            background-color: #55883b;
            font-weight: 600;
            color: white;
            border-radius: 20px;

            &:hover{
                transition: all 0.3s ease-in-out;
                background-color: #274817;
            }
        }
    }
    
}


#reviews{
    max-width: 1500px;
    padding: 30px 0;
    margin: auto;
    width: 95%;

    .elfsight-app-2fb0e2ba-3d20-45dd-a6d7-04bd01bd462c{
        width: 50%;
    }

    .container_about{
        width: 50%;
        max-width: 600px;
        margin: auto;
        text-align: center;

        &>h3{
            padding-bottom: 30px;
        }
    }
}


#form_newsletter{
    
    padding: 70px 0;

    &>.container{
        display: flex;
        gap: 30px;

        &>*{
            width: 50%;

            &>h3{
                color: #55883b;
                margin-bottom: 25px;
            }
        }

        


    }
}

#map{
    width: 100%;
    height: 100%;

    & > div.mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-zoom-rotate{
        width: 100%;
        height: 100%;

        &>.mapboxgl-canvas{
            height: 100%important;
            width: 100%;
        }
    }
}


.form-control{
    border: 0!important;
    border-bottom: 2px solid #55883b !important;
}


.form-control:focus{
    box-shadow: 0 0 0 .25rem #55883b5f !important;
    border-color: #55883b !important;
    color:#55883b!important;

}

#flexCheckDefault{
    margin-left: 1px!important;
    margin-right: 8px;

    &:checked{
        background-color: #55883b;
        border-color: #55883b;
    }

    &:focus{
        box-shadow: 0 0 0 .25rem #55883b5f !important;
    }
}

.form-check{
    padding-left: 12px !important;
    padding: 10px 0;
    margin-bottom: 30px!important;

}

.btn_newsletter{
    width: 200px !important;
    display: inline-block;
    margin-left: 12px;
    margin-top: 20px;
    background-color: #55883b;
    border: 0;
    color: white;
    padding: 5px ;
    border-radius: 20px;

    &:hover{
        transition: all 0.3s ease-in-out;
        background-color: #274817;
    }
}

